/* Filter Container Styles */
.filterContainer {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #FFFFFF;
    padding: 12px;
    width: 350px;
    border-radius: 4px;
}

.filterContainer h2 {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.filterContainer h3 {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.filterContainer h2,
.filterContainer h3 {
    margin: 10px 0;
}

.filterButtonContainer {
    display: flex;
    background: white;
}

.filterButton {
    flex: 1;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-right: 0;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}

.filterButton:hover {
    background-color: #e0e0e0;
    color: #333;
}

.filterButton:first-child {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-right: 1px solid #CCC;
}

.filterButton:last-child {
    border-right: 1px solid #CCC;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.filterSection {
    margin-bottom: 20px;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    font-size: 13px;
}

.checkboxLabel input[type='checkbox'] {
    appearance: none;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.checkboxLabel input[type='checkbox']::before {
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    transition: background 0.3s;
}

.checkboxLabel input[type='checkbox']:hover::before {
    background: rgba(0, 0, 0, 0.1);
}

.checkboxLabel input[type='checkbox']:checked::after {
    content: '✓';
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.categoryButtonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.categoryButton {
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 5px 10px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 13px;
    margin: 2px;
}

.categoryButton:hover {
    background-color: #e0e0e0;
}

.seeAll {
    font-weight: bold;
    color: #007BFF;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 20px;
}

/* Listing Container Styles */
.restaurantEntry {
    background: white;
    padding: 24px;
    border-radius: 3px;
    display: flex;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: inherit;
    font-size: inherit;
    width: 98%;
    float: left;
    margin-right: 0;
    padding-right: 0;
}

.restaurantEntry:hover {
    background: white;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.restaurantImage {
    width: 150px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 5px;
}

.restaurantDetails {
    flex-grow: 1;
}

.restaurantDetails h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.restaurantName {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.restaurantRating {
    margin-right: 6px;
}

.restaurantMeta,
.restaurantDescription,
.restaurantFeatures {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.restaurantDescription {
    display: flex;
    align-items: center;
}

.restaurantDescription svg {
    margin-right: 8px;
}

.restaurantPrice {
    font-size: 1em;
    color: #666;
    margin: 3px;
}

.tag {
    font-size: 12px;
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    padding: 4px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 2px;
}

.tag:hover {
    background-color: #ccc;
}

.restaurantCuisines .tag {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    margin-right: 4px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.restaurantCuisines .tag:hover {
    background-color: #ccc;
}

/* Google Map Section*/
.map {
    flex: 2;
    height: 400px;
    background-color: #e0e0e0;
}

.container {
    display: flex;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
}

/* RestaurantList.css */
.restaurantsList {
    width: 70%;
    float: left;
    margin-right: 0;
    padding-right: 0;
}

.mapContainer {
    width: 30%;
    float: left;
    margin-left: 0;
    padding-left: 0;
}

@media (max-width: 768px) {

    .restaurantsList,
    .mapContainer {
        width: 100%;
        float: none;
    }
}

/* Responsive Design */
@media (max-width: 768px) {

    .filters,
    .restaurantsList {
        width: 100%;
        float: none;
    }

    .filterContainer {
        padding: 8px;
        font-size: 12px;
    }
}