.app {
    font-family: 'Arial', sans-serif;
    text-align: center;
    /* position: relative; */
    /* background-image: url('https://www.jellycat.com/images/articles/AMUSEABLE_COFFEE_BEAN_OATS_GUNIEA_PIG_BAKERY_PORTRAIT.JPG');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    overflow-y: auto;
     */
}

.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://www.jellycat.com/images/articles/AMUSEABLE_COFFEE_BEAN_OATS_GUNIEA_PIG_BAKERY_PORTRAIT.JPG');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow-y: auto;
    z-index: -1;
}

.logo,
.searchBarContainer,
.authButtons {
    position: relative;
    z-index: 1;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d32323;
    padding: 10px;
    color: white;
}

.logo img {
    height: 100px;
}

.searchBarContainer {
    display: flex;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 4px;
    overflow: hidden;
}

.searchInput {
    padding: 10px;
    border: none;
    font-size: 16px;
}

.searchButton {
    background-color: #fff;
    color: #d32323;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.mainHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 20px;
    position: relative;
}

.searchBarContainer {
    display: flex;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.locationInput {
    border-left: 1px solid #ccc;
}

.searchButton {
    background-color: #d32323;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.authButtons {
    position: absolute;
    right: 20px;
    top: 20px;
}

.loginButton,
.signupButton {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.loginButton {
    background: none;
    color: #d32323;
}

.signupButton {
    background-color: #d32323;
    color: white;
}

@media (max-width: 768px) {
    .searchBarContainer {
        flex-direction: column;
        width: 90%;
    }

    .searchInput,
    .locationInput {
        width: calc(100% - 20px);
        margin: 5px 0;
    }

    .searchButton {
        width: calc(100% - 10px);
    }
}